
html{
    font-family:'Times New Roman', Times, serif;
}
/* */
body{
    background-color:bisque;
}

.container{
    margin-top:100px;
    display:grid;/*Please study various types in it*/
    place-items:center; /*Please study Various types in it to place the container in the center*/
    height:100vh; /*use ofr make gap from the top we give height to the contaienr*/
    margin-bottom:100px;
}

.box{/*class name written with .*/
    background-color:azure;
    width:450px;
    height:850px;

    padding:20px; /*this will padd out from containe rnot from the top of whole background page*/
    background-color:black;/*Everything inside that box(heading, paragraph, any text will be black*/
    color:white;/*now the text color will be white and other things will be black acc to background color*/

    position:absolute;/*Pls read about this position and its various types also this has been done for the last 
       box part to be shown at the bottom of class Box*/

}

p{
  font-size:14px;
  
}

h1{
   font-weight:450;
   font-size:32px;
 }

h2{
    font-weight:350;
    font-size:24px;
 }

h3{
    font-weight:350;
    font-size:20px;
 }

.box_top, /*put commas for assigning same changes with different classes*/
.bal{ /*instead of writing again with the same changes to diff class it's better to write like this*/
    display:flex; /*Please read it about this and display various properties too*/
    flex-direction:column; /*please read it through out it all things about flex*/
    align-items:center; /*also read about justify content*/
}

.bal{/*if u want to add more in this class you can repeat it by writing and add something new more */
 margin-top:20px; /*for providing gap from The heading Expense Tracker and Balance*/
}

.transaction_cont{
    margin-top:20px;
}
.transactions{
  margin-top:10px;
  display:flex;  /*by applying display, flex-direction and gap we ahve done some gapping between individual trans inside class transaction*/
  flex-direction: column;
  gap:10px;
}

.individual_tran{
    
    background-color:white;
    color:black;/*Text wale ko black color dete hai baaki white rahega jo bhi hoga uske ander*/
    display:flex; /*instead of doing in class .status we do here then only the edit and delete will shown in 
    rightmost cornr of class .individual transaction*/

}

.individual_tran .left{
    
    align-items:center;/*ye nhi tha to phele thoda upper dikhrha tha text wagera aur ab align krne se center of row par*/
    padding:7px; /*left wale jo bhi text hoga uska padding for all sides 7px ho jayega inside .individual_transaction class mei*/
    flex-grow:1;/*this will take full coverup of individual trans means now text shown on leftmost and edit/del shown on rightmost */
    display:flex;  /*whatever written h1 or p or h3 after another line it all will come together in a single row 
          within the same class or container or box*/
    justify-content:space-between; /*this will allow first text tag in the leftmost corner
    and expand the other text tags to the left with the last text to the last left most and provide specific space between all text tags
    with the number of text provided within a class or cotainer otr box*/
}

.status{
    /*display:flex; instead of doing it here do it in .individualtan becoz doing here will be of no use becoz it's another class in
    individual tensaction different from left class*/
    background-color: green;
    display:grid;
    place-items: center;/*this two things display and place item will be used to put whatever in the right most content text in center*/
    color:white;/*whatever in that backgroung color green the text color will shown as white*/
    
    min-height:40px;
    min-width:40px;/*minimum to itna hona hi chahiye*/
}

.credit{
    background-color:green;
}
.debit{
    background-color:red;
}

.trans_form{
    height:200px;
    background-color: white;
    position:absolute;/*for pushing the last transaction form in the bottom*/
    bottom:0;
    left:0;
    width:100%;
    color:black;
    padding:20px;
}

.trans_form h3{ /*add transaction wala h3*/
    margin-bottom:10px; /*uske neeche 10px ka gap*/
}

.form_control{
    display:flex;
    flex-direction:column; /* again by using display and flex direction we have allign text and amount beautifully*/
    gap:2px;
}

.form_control:first-child{ /*THE UNIQUE THINGS WHICH I DOT KNOW EVER IF HAVE TWO things first is text and second is amount text 
    THEN if we want to spread length of first one only (i.e. Text) then we do flex=2 and second amount will automatically default by flex 1
    that's why we use first-child here so unique Oh My GOD*/ 
   flex:100;
}

.inputs{/*now the whole tag we havve done display flex to do side by side display of text and amount*/
    display:flex;
    gap:10px;/*provide gap btw text and amount text*/
}

form input{
    padding:1px 10px;
    outline:1px solid transparent;
    border:2px solid black;
    width:100%; /*this is important so that whn we do small size screen the amount text should not overflow the window background*/

}

form input:focus-visible{ /*when click on text the border of text becomes dark*/
    outline:1px solid primary-dark;
    border:1px solid primary-dark;
}

.button_container{
    display:flex;
    
    margin-top:12px;
    gap:10px;

}

.button_container button{
    width:100%;
    height:65px;
    color:white;
    border:none;
    opacity:0.85;  /* by this when not hover opacity looks different when hover over the buttioon the 
    opacity become 1 in .button containe:hover*/
    
}

.button_container button:hover{
   opacity:1;
}

#earnBtn{/* this how to access by id */
    background-color:green;
}
#expBtn{
    background-color:red;
}

@media(max-width:500px)
{
    .box{
        width:95%;
    }
}
